@import './styles/calendar-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-slate-950;
  }
  
  body {
    @apply text-slate-50;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }
}

.dark {
  html {
    @apply bg-dark-950;
  }
  
  body {
    @apply text-dark-50;
  }
}

@layer utilities {
  .dark-gradient {
    @apply bg-gradient-to-br from-dark-800 to-dark-900;
  }

  .dark-hover {
    @apply hover:bg-dark-700 hover:shadow-dark-md transition-all duration-300;
  }
}